/* variables */
$header-overlay: 0%;

/* imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

.details_wrapper {
  position: relative;

  .arrow_icon {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
  }
}

.header {
  height: 551px;
  width: 100%;
  display: grid;
  position: relative;
  place-items: center start;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        hsl(0, 0%, $header-overlay) 0%,
        hsla(0, 0%, $header-overlay, 0.995) 8.2%,
        hsla(0, 0%, $header-overlay, 0.981) 16%,
        hsla(0, 0%, $header-overlay, 0.958) 23.4%,
        hsla(0, 0%, $header-overlay, 0.926) 30.4%,
        hsla(0, 0%, $header-overlay, 0.885) 37.3%,
        hsla(0, 0%, $header-overlay, 0.835) 43.8%,
        hsla(0, 0%, $header-overlay, 0.776) 50.2%,
        hsla(0, 0%, $header-overlay, 0.709) 56.5%,
        hsla(0, 0%, $header-overlay, 0.633) 62.6%,
        hsla(0, 0%, $header-overlay, 0.548) 68.7%,
        hsla(0, 0%, $header-overlay, 0.455) 74.8%,
        hsla(0, 0%, $header-overlay, 0.354) 81%,
        hsla(0, 0%, $header-overlay, 0.244) 87.2%,
        hsla(0, 0%, $header-overlay, 0.126) 93.5%,
        hsla(0, 0%, $header-overlay, 0) 100%
      )
      left center/70% no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        hsla(0, 0%, $header-overlay, 0) 0%,
        hsla(0, 0%, $header-overlay, 0.026) 14.4%,
        hsla(0, 0%, $header-overlay, 0.066) 26.6%,
        hsla(0, 0%, $header-overlay, 0.119) 36.9%,
        hsla(0, 0%, $header-overlay, 0.183) 45.5%,
        hsla(0, 0%, $header-overlay, 0.255) 52.6%,
        hsla(0, 0%, $header-overlay, 0.333) 58.5%,
        hsla(0, 0%, $header-overlay, 0.416) 63.5%,
        hsla(0, 0%, $header-overlay, 0.502) 67.8%,
        hsla(0, 0%, $header-overlay, 0.588) 71.7%,
        hsla(0, 0%, $header-overlay, 0.672) 75.4%,
        hsla(0, 0%, $header-overlay, 0.753) 79.2%,
        hsla(0, 0%, $header-overlay, 0.828) 83.3%,
        hsla(0, 0%, $header-overlay, 0.895) 87.9%,
        hsla(0, 0%, $header-overlay, 0.954) 93.4%,
        hsl(0, 0%, $header-overlay) 100%
      )
      bottom center/100% no-repeat;
  }

  .header_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    -moz-aspect-ratio: 16/9;
  }

  .header_img,
  .header_content,
  .header::after {
    grid-area: 1 / -1;
  }

  .header_content {
    z-index: 1;
    margin-left: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 150px;
      height: 6px;
      border-radius: 5px;
      background-color: var(--accentColor);
      outline: solid 1px rgb(39, 39, 39);
    }

    .title {
      font-size: 43px;
      font-weight: 600;
      font-style: italic;
      line-height: 49px;
      width: 729px;

      span {
        font-size: 31px;
        font-weight: 300;
        line-height: 0;
      }
    }
  }

  .tagline {
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
    margin-top: 0;
  }

  .genre {
    display: flex;
    margin-top: 15px;

    .genre_list {
      display: flex;
      gap: 10px;

      li {
        list-style-type: none;
        color: rgb(214, 214, 214);
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 12px;
        outline: solid 1px rgb(39, 39, 39);
        background-color: var(--accentColor);
      }
    }
  }

  .overview_wrapper {
    margin-top: 24px;

    .overview_title {
      font-size: 22px;
      font-weight: 600;
      font-style: italic;
    }

    .overview {
      width: 600px;
      margin-top: 7px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .status_wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    border-bottom: solid 1px rgb(41, 41, 41);
    padding-bottom: 14px;

    .status {
      font-weight: 600;

      span {
        font-weight: 100;
        font-style: italic;
        font-size: 14px;
        display: inline-block;
        margin-left: 5px;
      }
    }

    .date {
      font-weight: 600;

      span {
        font-weight: 100;
        font-style: italic;
        font-size: 14px;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .director_wrapper {
    width: 400px;
    border-bottom: solid 1px rgb(41, 41, 41);
    padding-bottom: 14px;
    margin-top: 15px;

    .director {
      font-weight: 600;

      span {
        font-weight: 100;
        font-style: italic;
        font-size: 14px;
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .writers_wrapper {
    margin-top: 15px;
    width: 400px;
    border-bottom: solid 1px rgb(41, 41, 41);
    padding-bottom: 14px;

    .writers {
      font-weight: 600;

      span {
        font-weight: 100;
        font-style: italic;
        font-size: 14px;
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}

.casts {
  display: flex;
  gap: 20px;
  overflow-y: auto;
  position: relative;

  .cast_card {
    width: 257px;
    height: 254px;

    .cast_image {
      width: 100%;
      height: 80%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
