.card_wrapper {
  position: relative;
}

.cards {
  width: 200px;
  height: 304px;
  margin-bottom: 10px;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .title {
    font-size: 14px;
    margin-top: 5px;
    color: white;
  }
}



.fave_icon {
  position: absolute;
  top: 5px;
  right: 5px;
}