.content_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  column-gap: 45px;
  row-gap: 57px;
  margin: 0 auto;
  max-width: max-content;
}

.content {
  position: relative;
}

@media (max-width: 768px) {
  .content_wrapper {
    grid-template-columns: repeat(
      2,
      140px
    ); /* Two columns for smaller screens */
  }
}

@media (max-width: 480px) {
  .content_wrapper {
    grid-template-columns: 140px; /* Single column for even smaller screens */
  }
}
